<!DOCTYPE html>

<html lang="en" style="padding-top: 50px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Photo Translator</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>
</head>


<body style = "background-color:transparent;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Photo Translator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <style>
        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
    </style>
    
    <script type="text/javascript">
        /* The uploader form */
        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
    
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    
    </script>

    <script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#myImg')
                .attr('src', e.target.result)
                .width(500)
                .height(200);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
    </script>
    
    
    <input type='file' onchange="readURL(this);" />
    </br><img id="myImg" src="#" alt="your image">
    
    <img src="UCM.jpg" width='60' height='24'>

</body>

</html>
